public net.minecraft.potion.PotionBrewing field_185214_b #POTION_ITEM_CONVERSIONS
public net.minecraft.potion.PotionBrewing field_185213_a #POTION_TYPE_CONVERSIONS
#public net.minecraft.potion.PotionBrewing func_193357_a(Lnet/minecraft/potion/Potion;Lnet/minecraft/item/Item;Lnet/minecraft/potion/Potion;)V #addMix
#public net.minecraft.potion.PotionBrewing func_196207_a(Lnet/minecraft/item/Item;Lnet/minecraft/item/Item;Lnet/minecraft/item/Item;)V #addContainerRecipe
